.DS_Store
/dist/
node_modules/
yarn-error.log
.venv/
env/
*/__pycache__/*
json_planet_statistics.json
current_api_output.json
planet_statistics.csv
src/data/planets
src/data/pass.py
src/data/make_historydata.py
src/data/gen_data
package-lock.json
logs/
game_data.db
tables.py